#scr {
    background: #ecf0f1;
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 500px;
    position: absolute;
    right: 0;
    top: 0;
}

#psp, #fl {
    height: 400px;
    position: absolute;
    width: 400px;
}

#psp {
    left: 50%;
    margin: -250px 0 0 -200px;
    top: 50%;
    transform: rotateX(45deg) rotateZ(-25deg);
    transform-style: preserve-3d;
}

#fl {
    background: #95a5a6;
    transform: translateZ(-20px);
}

.c {
    height: 40px;
    position: absolute;
    transform-style: preserve-3d;
    width: 40px;
}

.i, .j, .k, .l {
    height: 40px;
    position: absolute;
    width: 40px;
}

.i {
    background: #f1c40f;
    transform: translateZ(20px);
}

.j {
    background: #e74c3c;
    transform: rotateY(-90deg) translateZ(20px);
}

.k {
    background: #2ecc71;
    transform: rotateX(-90deg) translateZ(20px);
}

.l {
    background: #3498db;
    transform: rotateY(90deg) translateZ(20px);
}
