#scr {
    background: #fffffa;
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 500px;
    position: absolute;
    right: 0;
    top: 0;
    transition: perspective 1s cubic-bezier(0,1,0.2,1);
}

#psp, #fl {
    height: 412px;
    position: absolute;
    width: 412px;
}

#psp {
    left: 50%;
    margin: -250px 0 0 -206px;
    top: 50%;
    transform: rotateX(45deg) rotateZ(-25deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.nopsp {
    perspective: 9999px !important;
    transition: perspective 1s cubic-bezier(1,0,1,0.2) !important;
}
.nopsp #psp { transform: none !important; }

.c, .i, .j, .k, .l {
    height: 44px;
    position: absolute;
    transform-style: preserve-3d;
    width: 44px;
}

.i { transform:                                  translateZ(44px); }
.j { transform: translateZ(22px) rotateY(-90deg) translateZ(22px); }
.k { transform: translateZ(22px) rotateX(-90deg) translateZ(22px); }
.l { transform: translateZ(22px) rotateY( 90deg) translateZ(22px); }

.pl { transition: left 200ms, top 200ms; }

.pl .i { background: #9c0; }
.pl .k { background: #8cbf00; }
.pl .j, .pl .l { background: #80b300; }

.enr .i { background: #f44; }
.enr .k { background: #f23333; }
.enr .j, .enr .l { background: #e52222; }

.enb .i { background: #3bf; }
.enb .k { background: #26b3f2; }
.enb .j, .enb .l { background: #1aaae5; }
